@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #f4eaea !important;
  color: black !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #fdece7 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #f4eaea !important;
  box-shadow: none !important;
}

.rbc-timeslot-group {
  background-color: #fbfbfb !important;
}

.rbc-event:nth-child(1) {
  background-color: #f4eaea !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #fdece7 !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #f4eaea !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #fdece7 !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label{
  color: gray !important;
  margin-bottom: 5px;
}

/* Global Button Effects */
@layer base {
  button {
    @apply transition-transform duration-100 ease-in-out active:scale-95 hover:brightness-95;
  }
}